.ShapeSelector {
  font-size: 12px;
  font-family: "Tangerine";
  display: inline-block;
  margin: 100px;
}

.Selection {
  font-family: "Calibri";
  width: 300px;
  font-size:18px;
  background-color: antiquewhite;
  height: auto;
  resize: none;
  margin: auto;
  
}

.submit {
  width: 150px;
}

.clear {
  width: 150px;
}

