.form-control {
  font-family: "Calibri";
  width: 300px;
  font-size: 14px;
  background-color: antiquewhite;
  height: auto;
  resize: none;
  margin: auto;
}

.ParameterDiv {
  margin-top: 12px;
  width: 300px;
  height: 200px;
}
.NoShape {
  
  font-family: "Calibri";
  width: 300px;
  height: 200px
}
